@model IEnumerable<Final_Project.Models.Categorie>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="table-active">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="table-active">
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th class="table-active">Acation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @*            <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>