@model IEnumerable<Final_Project.ViewModels.UsersDetailsViewModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="table-active">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="table-active">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="table-active">
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th class="table-active">
                @Html.DisplayNameFor(model => model.Addrss)
            </th>
            <th class="table-active">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th class="table-active">
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th class="table-active">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <img src="/images/@item.Photo" width="50px">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Addrss)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a asp-action="UpdateUser" asp-controller="User" asp-route-id="@item.id" class="btn btn-outline-warning">Edit</a>
                    |
                    <a asp-action="Delete" asp-controller="User" asp-route-id="@item.id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>