@model Final_Project.ViewModels.UsersDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout_of_us.cshtml";

}

@**********************************************************************@
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Author @Model.Name</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="~css/animate.css">

    <link rel="stylesheet" href="~css/owl.carousel.min.css">
    <link rel="stylesheet" href="~css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~css/magnific-popup.css">

    <link rel="stylesheet" href="~css/flaticon.css">
    <link rel="stylesheet" href="~css/style2.css">
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="author-section">
        <div class="container">
            <div class="row d-flex no-gutters">
                <div class="col-md-6 col-lg-6 d-flex">
                    <div class="img-about img d-flex align-items-stretch">
                        <div class="overlay"></div>
                        <div class="img d-flex align-self-stretch align-items-center" style="background-image:url(images/@Model.Photo);">
                            <img src="~/images/@Model.Photo" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 d-flex">
                    <div class="py-md-5 w-100 bg-light px-md-5">
                        <div class="py-md-5">
                            <div class="row justify-content-start pb-3">
                                <div class="col-md-12 heading-section ftco-animate">
                                    <span class="subheading">Know More About The Author</span>
                                    <h2 class="mb-4">@Model.Name</h2>
                                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                                    <ul class="about-info mt-4 px-md-0 px-2">
                                        <li class="d-flex"><span>Name:</span> <span>@Model.Name</span></li>
                                        <li class="d-flex"><span>Date of birth:</span> <span>November 28, 1980</span></li>
                                        <li class="d-flex"><span>Address:</span> <span>@Model.Addrss</span></li>
                                        <li class="d-flex"><span>Zip code:</span> <span>1000</span></li>
                                        <li class="d-flex"><span>Email:</span> <span>@Model.Email</span></li>
                                        <li class="d-flex"><span>Phone: </span> <span>@Model.Phone</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="counter-wrap ftco-animate d-flex mt-md-3">
                                <div class="text">
                                    <p class="mb-4 btn-custom">
                                        <span class="number" data-number="120">20</span>
                                        <span>View All Books</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2 class="mb-4">Contact Me</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                </div>
            </div>

            <div class="row d-flex contact-info mb-5">
                <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                    <div class="align-self-stretch box text-center p-4 bg-light">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-paper-plane"></span>
                        </div>
                        <div>
                            <h3 class="mb-4">Email Address</h3>
                            <p><a href="mailto:info@yoursite.com">@Model.Email</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                    <div class="align-self-stretch box text-center p-4 bg-light">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-phone"></span>
                        </div>
                        <div>
                            <h3 class="mb-4">Contact Number</h3>
                            <p><a href="tel://1234567920">+2 @Model.Phone</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                    <div class="align-self-stretch box text-center p-4 bg-light">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-map-marker"></span>
                        </div>
                        <div>
                            <h3 class="mb-4">Address</h3>

                            <p>@Model.Addrss </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                    <div class="align-self-stretch box text-center p-4 bg-light">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-globe"></span>
                        </div>
                        <div>
                            <h3 class="mb-4">Website</h3>
                            <p><a href="#">Memorial</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        @if (Model.Role == "Author")
        {
            <div class="form-control">
                <a class="btn btn-outline-warning " asp-action="Edit" asp-controller="Author" asp-route-id=@Model.id> Edit Profile </a>
            </div>

        }
        @if (Model.Role == "User")
        {
            <div class="form-control">
                <a class="btn btn-outline-warning " asp-action="Edit" asp-controller="EnterUser" asp-route-id=@Model.id>Edit Profile </a>
            </div>
        }
    </section>


    @* <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24"
    r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4"
    stroke-miterlimit="10" stroke="#F96D00"/></svg></div>*@


    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>

    <script src="js/main.js"> </script>
</body>
